<a href="https://colab.research.google.com/github/tleitch/BDML/blob/main/stochastic_travel_v2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install fancyimpute
!pip install mlxtend

Requirement already satisfied: fancyimpute in /home/harshvardhan/anaconda3/lib/python3.7/site-packages (0.5.5)
Requirement already satisfied: tensorflow in /home/harshvardhan/anaconda3/lib/python3.7/site-packages (from fancyimpute) (2.4.1)
Requirement already satisfied: cvxpy>=1.0.6 in /home/harshvardhan/anaconda3/lib/python3.7/site-packages (from fancyimpute) (1.1.11)
Requirement already satisfied: scikit-learn>=0.21.2 in /home/harshvardhan/anaconda3/lib/python3.7/site-packages (from fancyimpute) (0.23.2)
Requirement already satisfied: knnimpute in /home/harshvardhan/anaconda3/lib/python3.7/site-packages (from fancyimpute) (0.1.0)
Requirement already satisfied: keras>=2.0.0 in /home/harshvardhan/anaconda3/lib/python3.7/site-packages (from fancyimpute) (2.4.3)
Requirement already satisfied: scipy in /home/harshvardhan/anaconda3/lib/python3.7/site-packages (from fancyimpute) (1.3.0)
Requirement already satisfied: numpy>=1.10 in /home/harshvardhan/anaconda3/lib/python3.7/site-packages (from fancyimpute) (1.20.2)
Requirement already satisfied: six~=1.15.0 in /home/harshvardhan/anaconda3/lib/python3.7/site-packages (from tensorflow->fancyimpute) (1.15.0)
Requirement already satisfied: termcolor~=1.1.0 in /home/harshvardhan/anaconda3/lib/python3.7/site-packages (from tensorflow->fancyimpute) (1.1.0)
Requirement already satisfied: wheel~=0.35 in /home/harshvardhan/anaconda3/lib/python3.7/site-packages (from tensorflow->fancyimpute) (0.36.2)
Requirement already satisfied: tensorboard~=2.4 in /home/harshvardhan/anaconda3/lib/python3.7/site-packages (from tensorflow->fancyimpute) (2.4.1)
Requirement already satisfied: absl-py~=0.10 in /home/harshvardhan/anaconda3/lib/python3.7/site-packages (from tensorflow->fancyimpute) (0.12.0)
Requirement already satisfied: h5py~=2.10.0 in /home/harshvardhan/anaconda3/lib/python3.7/site-packages (from tensorflow->fancyimpute) (2.10.0)
Requirement already satisfied: opt-einsum~=3.3.0 in /home/harshvardhan/anaconda3/lib/python3.7/site-packages (from tensorflow->fancyimpute) (3.3.0)
Requirement already satisfied: gast==0.3.3 in /home/harshvardhan/anaconda3/lib/python3.7/site-packages (from tensorflow->fancyimpute) (0.3.3)
Requirement already satisfied: keras-preprocessing~=1.1.2 in /home/harshvardhan/anaconda3/lib/python3.7/site-packages (from tensorflow->fancyimpute) (1.1.2)
Requirement already satisfied: wrapt~=1.12.1 in /home/harshvardhan/anaconda3/lib/python3.7/site-packages (from tensorflow->fancyimpute) (1.12.1)
Requirement already satisfied: tensorflow-estimator<2.5.0,>=2.4.0 in /home/harshvardhan/anaconda3/lib/python3.7/site-packages (from tensorflow->fancyimpute) (2.4.0)
Requirement already satisfied: flatbuffers~=1.12.0 in /home/harshvardhan/anaconda3/lib/python3.7/site-packages (from tensorflow->fancyimpute) (1.12)
Requirement already satisfied: grpcio~=1.32.0 in /home/harshvardhan/anaconda3/lib/python3.7/site-packages (from tensorflow->fancyimpute) (1.32.0)
Requirement already satisfied: google-pasta~=0.2 in /home/harshvardhan/anaconda3/lib/python3.7/site-packages (from tensorflow->fancyimpute) (0.2.0)
Requirement already satisfied: typing-extensions~=3.7.4 in /home/harshvardhan/anaconda3/lib/python3.7/site-packages (from tensorflow->fancyimpute) (3.7.4.3)
Requirement already satisfied: astunparse~=1.6.3 in /home/harshvardhan/anaconda3/lib/python3.7/site-packages (from tensorflow->fancyimpute) (1.6.3)
Requirement already satisfied: protobuf>=3.9.2 in /home/harshvardhan/anaconda3/lib/python3.7/site-packages (from tensorflow->fancyimpute) (3.15.7)
Requirement already satisfied: ecos>=2 in /home/harshvardhan/anaconda3/lib/python3.7/site-packages (from cvxpy>=1.0.6->fancyimpute) (2.0.7.post1)
Requirement already satisfied: scs>=1.1.6 in /home/harshvardhan/anaconda3/lib/python3.7/site-packages (from cvxpy>=1.0.6->fancyimpute) (2.1.2)
Requirement already satisfied: osqp>=0.4.1 in /home/harshvardhan/anaconda3/lib/python3.7/site-packages (from cvxpy>=1.0.6->fancyimpute) (0.6.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /home/harshvardhan/anaconda3/lib/python3.7/site-packages (from scikit-learn>=0.21.2->fancyimpute) (2.1.0)
Requirement already satisfied: joblib>=0.11 in /home/harshvardhan/anaconda3/lib/python3.7/site-packages (from scikit-learn>=0.21.2->fancyimpute) (0.13.2)
Requirement already satisfied: pyyaml in /home/harshvardhan/anaconda3/lib/python3.7/site-packages (from keras>=2.0.0->fancyimpute) (5.1.1)
Requirement already satisfied: setuptools>=41.0.0 in /home/harshvardhan/anaconda3/lib/python3.7/site-packages (from tensorboard~=2.4->tensorflow->fancyimpute) (41.0.1)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in /home/harshvardhan/anaconda3/lib/python3.7/site-packages (from tensorboard~=2.4->tensorflow->fancyimpute) (1.8.0)
Requirement already satisfied: werkzeug>=0.11.15 in /home/harshvardhan/anaconda3/lib/python3.7/site-packages (from tensorboard~=2.4->tensorflow->fancyimpute) (0.15.4)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in /home/harshvardhan/anaconda3/lib/python3.7/site-packages (from tensorboard~=2.4->tensorflow->fancyimpute) (0.4.4)
Requirement already satisfied: google-auth<2,>=1.6.3 in /home/harshvardhan/anaconda3/lib/python3.7/site-packages (from tensorboard~=2.4->tensorflow->fancyimpute) (1.28.0)
Requirement already satisfied: markdown>=2.6.8 in /home/harshvardhan/anaconda3/lib/python3.7/site-packages (from tensorboard~=2.4->tensorflow->fancyimpute) (3.3.4)
Requirement already satisfied: requests<3,>=2.21.0 in /home/harshvardhan/anaconda3/lib/python3.7/site-packages (from tensorboard~=2.4->tensorflow->fancyimpute) (2.22.0)
Requirement already satisfied: future in /home/harshvardhan/anaconda3/lib/python3.7/site-packages (from osqp>=0.4.1->cvxpy>=1.0.6->fancyimpute) (0.17.1)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /home/harshvardhan/anaconda3/lib/python3.7/site-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard~=2.4->tensorflow->fancyimpute) (1.3.0)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /home/harshvardhan/anaconda3/lib/python3.7/site-packages (from google-auth<2,>=1.6.3->tensorboard~=2.4->tensorflow->fancyimpute) (4.2.1)
Requirement already satisfied: rsa<5,>=3.1.4; python_version >= "3.6" in /home/harshvardhan/anaconda3/lib/python3.7/site-packages (from google-auth<2,>=1.6.3->tensorboard~=2.4->tensorflow->fancyimpute) (4.7.2)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /home/harshvardhan/anaconda3/lib/python3.7/site-packages (from google-auth<2,>=1.6.3->tensorboard~=2.4->tensorflow->fancyimpute) (0.2.8)
Requirement already satisfied: importlib-metadata; python_version < "3.8" in /home/harshvardhan/anaconda3/lib/python3.7/site-packages (from markdown>=2.6.8->tensorboard~=2.4->tensorflow->fancyimpute) (0.17)
Requirement already satisfied: certifi>=2017.4.17 in /home/harshvardhan/anaconda3/lib/python3.7/site-packages (from requests<3,>=2.21.0->tensorboard~=2.4->tensorflow->fancyimpute) (2020.4.5.1)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /home/harshvardhan/anaconda3/lib/python3.7/site-packages (from requests<3,>=2.21.0->tensorboard~=2.4->tensorflow->fancyimpute) (3.0.4)
Requirement already satisfied: idna<2.9,>=2.5 in /home/harshvardhan/anaconda3/lib/python3.7/site-packages (from requests<3,>=2.21.0->tensorboard~=2.4->tensorflow->fancyimpute) (2.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /home/harshvardhan/anaconda3/lib/python3.7/site-packages (from requests<3,>=2.21.0->tensorboard~=2.4->tensorflow->fancyimpute) (1.24.2)
Requirement already satisfied: oauthlib>=3.0.0 in /home/harshvardhan/anaconda3/lib/python3.7/site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard~=2.4->tensorflow->fancyimpute) (3.1.0)
Requirement already satisfied: pyasn1>=0.1.3 in /home/harshvardhan/anaconda3/lib/python3.7/site-packages (from rsa<5,>=3.1.4; python_version >= "3.6"->google-auth<2,>=1.6.3->tensorboard~=2.4->tensorflow->fancyimpute) (0.4.8)
Requirement already satisfied: zipp>=0.5 in /home/harshvardhan/anaconda3/lib/python3.7/site-packages (from importlib-metadata; python_version < "3.8"->markdown>=2.6.8->tensorboard~=2.4->tensorflow->fancyimpute) (0.5.1)

Requirement already satisfied: mlxtend in /home/harshvardhan/anaconda3/lib/python3.7/site-packages (0.18.0)
Requirement already satisfied: pandas>=0.24.2 in /home/harshvardhan/anaconda3/lib/python3.7/site-packages (from mlxtend) (1.1.2)
Requirement already satisfied: scikit-learn>=0.20.3 in /home/harshvardhan/anaconda3/lib/python3.7/site-packages (from mlxtend) (0.23.2)
Requirement already satisfied: joblib>=0.13.2 in /home/harshvardhan/anaconda3/lib/python3.7/site-packages (from mlxtend) (0.13.2)
Requirement already satisfied: scipy>=1.2.1 in /home/harshvardhan/anaconda3/lib/python3.7/site-packages (from mlxtend) (1.3.0)
Requirement already satisfied: matplotlib>=3.0.0 in /home/harshvardhan/anaconda3/lib/python3.7/site-packages (from mlxtend) (3.1.3)
Requirement already satisfied: numpy>=1.16.2 in /home/harshvardhan/anaconda3/lib/python3.7/site-packages (from mlxtend) (1.20.2)
Requirement already satisfied: setuptools in /home/harshvardhan/anaconda3/lib/python3.7/site-packages (from mlxtend) (41.0.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /home/harshvardhan/anaconda3/lib/python3.7/site-packages (from pandas>=0.24.2->mlxtend) (2.8.0)
Requirement already satisfied: pytz>=2017.2 in /home/harshvardhan/anaconda3/lib/python3.7/site-packages (from pandas>=0.24.2->mlxtend) (2019.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /home/harshvardhan/anaconda3/lib/python3.7/site-packages (from scikit-learn>=0.20.3->mlxtend) (2.1.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /home/harshvardhan/anaconda3/lib/python3.7/site-packages (from matplotlib>=3.0.0->mlxtend) (1.1.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /home/harshvardhan/anaconda3/lib/python3.7/site-packages (from matplotlib>=3.0.0->mlxtend) (2.4.0)
Requirement already satisfied: cycler>=0.10 in /home/harshvardhan/anaconda3/lib/python3.7/site-packages (from matplotlib>=3.0.0->mlxtend) (0.10.0)
Requirement already satisfied: six>=1.5 in /home/harshvardhan/anaconda3/lib/python3.7/site-packages (from python-dateutil>=2.7.3->pandas>=0.24.2->mlxtend) (1.15.0)

In [ ]:
import pandas as pd
import xlrd
pd.options.mode.chained_assignment = None
#from fancyimpute import MICE
from fancyimpute import IterativeImputer as MICE
import copy
from sklearn.preprocessing import MinMaxScaler
import statsmodels.api as sm
from mlxtend.feature_selection import SequentialFeatureSelector as sfs

In [ ]:
## sometimes in data ,people represent NA values differently. Pandas provide a way to input all possible NA values in form of list so that they are stored in memory as NA##
exhibit_1 = pd.read_csv("exhibit_1.csv", na_values=["#N/A", "#N/A N/A", "#NA", "-1.#IND", "-1.#QNAN", "-NaN", "-nan", "1.#IND", "1.#QNAN", "N/A", "NA", "NULL", "NaN", "nan"])
exhibit_2 = pd.read_csv("exhibit_2.csv",na_values = ["#N/A", "#N/A N/A", "#NA", "-1.#IND", "-1.#QNAN", "-NaN", "-nan", "1.#IND", "1.#QNAN", "N/A", "NA", "NULL", "NaN", "nan"])

exhibit_1 = exhibit_1[1:2389]
exhibit_2 = exhibit_2[1:2389]

In [ ]:
exhibit_1.head()

,ID,Program.Code,From.Grade,To.Grade,Group.State,Is.Non.Annual.,Days,Travel.Type,Departure.Date,Return.Date,...,GroupGradeTypeLow,GroupGradeTypeHigh,GroupGradeType,MajorProgramCode,SingleGradeTripFlag,FPP.to.School.enrollment,FPP.to.PAX,Num.of.Non_FPP.PAX,SchoolSizeIndicator,Retained.in.2012.
1,2,HC,8.0,8.0,AZ,0.0,7.0,A,14/01/2011,21/01/2011,...,Middle,Middle,Middle->Middle,H,1.0,0.025882,0.880000,3.0,L,1.0
2,3,HD,8.0,8.0,FL,0.0,3.0,A,15/01/2011,17/01/2011,...,Middle,Middle,Middle->Middle,H,1.0,0.025131,0.888889,3.0,L,1.0
3,4,HN,9.0,12.0,VA,1.0,3.0,B,15/01/2011,17/01/2011,...,Undefined,Undefined,Undefined->Undefined,H,0.0,NaN,1.000000,0.0,NaN,0.0
4,5,HD,6.0,8.0,FL,0.0,6.0,T,16/01/2011,21/01/2011,...,Middle,Middle,Middle->Middle,H,0.0,0.112500,0.910112,8.0,M-L,0.0
5,6,HC,10.0,12.0,LA,0.0,4.0,A,17/01/2011,20/01/2011,...,High,High,High->High,H,0.0,0.010650,0.909091,1.0,L,1.0

In [ ]:
exhibit_1.dtypes

ID                                 object
Program.Code                       object
From.Grade                        float64
To.Grade                          float64
Group.State                        object
Is.Non.Annual.                    float64
Days                              float64
Travel.Type                        object
Departure.Date                     object
Return.Date                        object
Deposit.Date                       object
Special.Pay                        object
Tuition                           float64
FRP.Active                        float64
FRP.Cancelled                     float64
FRP.Take.up.percent.              float64
Early.RPL                          object
Latest.RPL                         object
Cancelled.Pax                     float64
Total.Discount.Pax                float64
Initial.System.Date                object
Poverty.Code                       object
Region                             object
CRM.Segment                       float64
School.Type                        object
Parent.Meeting.Flag               float64
MDR.Low.Grade                      object
MDR.High.Grade                    float64
Total.School.Enrollment           float64
Income.Level                       object
EZ.Pay.Take.Up.Rate               float64
School.Sponsor                    float64
SPR.Product.Type                   object
SPR.New.Existing                   object
FPP                               float64
Total.Pax                         float64
SPR.Group.Revenue                 float64
NumberOfMeetingswithParents       float64
FirstMeeting                       object
LastMeeting                        object
DifferenceTraveltoFirstMeeting    float64
DifferenceTraveltoLastMeeting     float64
SchoolGradeTypeLow                 object
SchoolGradeTypeHigh                object
SchoolGradeType                    object
DepartureMonth                     object
GroupGradeTypeLow                  object
GroupGradeTypeHigh                 object
GroupGradeType                     object
MajorProgramCode                   object
SingleGradeTripFlag               float64
FPP.to.School.enrollment          float64
FPP.to.PAX                        float64
Num.of.Non_FPP.PAX                float64
SchoolSizeIndicator                object
Retained.in.2012.                 float64
dtype: object

In [ ]:
exhibit_2.head()

,ID,NPS 2011,NPS 2010,NPS 2009,NPS 2008,>= 3 FPP Date,>= 10 FPP Date,>= 20 FPP Date,>= 35 FPP Date
1,2,9.0,10.0,10.0,NaN,15/12/2009,20/01/2010,31/05/2010,NaN
2,3,NaN,10.0,10.0,NaN,09/06/2010,09/06/2010,26/10/2010,NaN
3,4,10.0,NaN,10.0,NaN,06/01/2011,06/01/2011,NaN,NaN
4,5,10.0,NaN,10.0,NaN,13/05/2010,24/05/2010,27/05/2010,01/06/2010
5,6,10.0,NaN,NaN,NaN,19/08/2010,15/12/2010,NaN,NaN

In [ ]:
exhibit_2.dtypes

ID                 object
NPS 2011          float64
NPS 2010          float64
NPS 2009          float64
NPS 2008          float64
>= 3 FPP Date      object
>= 10 FPP Date     object
>= 20 FPP Date     object
>= 35 FPP Date     object
dtype: object

In [ ]:
exhibit_1.shape

(2388, 56)

In [ ]:
df_merged = pd.merge(exhibit_1, exhibit_2, on="ID")

In [ ]:
df_merged["cancellation"] = df_merged["FRP.Cancelled"]/df_merged["FRP.Active"]

In [ ]:
date_cols = ["Departure.Date","Return.Date","Deposit.Date","Early.RPL","Latest.RPL","Initial.System.Date","FirstMeeting","LastMeeting"]

In [ ]:
for column in date_cols:
    df_merged[column]=pd.to_datetime(df_merged[column])

In [ ]:
df_merged["Return.Date"]

0      2011-01-21
1      2011-01-17
2      2011-01-17
3      2011-01-21
4      2011-01-20
          ...
2383   2011-02-07
2384   2011-03-07
2385   2011-05-07
2386   2011-06-30
2387   2011-05-07
Name: Return.Date, Length: 2388, dtype: datetime64[ns]

In [ ]:

unchanged_cols = ["Is.Non.Annual.","Days","Tuition","School.Type","Parent.Meeting.Flag","MDR.High.Grade","Income.Level","School.Sponsor","SPR.New.Existing","NumberOfMeetingswithParents","DifferenceTraveltoLastMeeting","SchoolGradeTypeHigh","FPP.to.School.enrollment","FPP.to.PAX","SchoolSizeIndicator","Retained.in.2012."]
df_final1 = df_merged[unchanged_cols]

In [ ]:
df_final1["frp.active"]  =df_merged["FRP.Active"]/df_merged["FPP"]

df_final1["cancellation"] = df_merged["FRP.Cancelled"]/df_merged["FRP.Active"]
df_final1["cancelled.PAX"] = df_merged["Cancelled.Pax"]/df_merged["FPP"]

In [ ]:
MAX_VALUE = 100000000

In [ ]:
df_final1['fpp'] = pd.cut(x=df_merged['FPP'], bins=[-MAX_VALUE,10,20,35,MAX_VALUE],labels=['small','critical','safe','large'])
df_final1["trend"]=((df_merged.iloc[:, 56:59].mean(axis=1,skipna=True) > df_merged.iloc[:,56:58].mean(axis=1,skipna=True)).astype(int)).astype("category")

In [ ]:
object_columns = df_final1.select_dtypes(include='object').columns
category_columns=df_final1.select_dtypes(include='category').columns
float_columns=df_final1.select_dtypes(include='float64').columns

In [ ]:
df_final1.dtypes

Is.Non.Annual.                    float64
Days                              float64
Tuition                           float64
School.Type                        object
Parent.Meeting.Flag               float64
MDR.High.Grade                    float64
Income.Level                       object
School.Sponsor                    float64
SPR.New.Existing                   object
NumberOfMeetingswithParents       float64
DifferenceTraveltoLastMeeting     float64
SchoolGradeTypeHigh                object
FPP.to.School.enrollment          float64
FPP.to.PAX                        float64
SchoolSizeIndicator                object
Retained.in.2012.                 float64
frp.active                        float64
cancellation                      float64
cancelled.PAX                     float64
fpp                              category
trend                            category
dtype: object

In [ ]:
for column in object_columns:
    df_final1[column] = df_final1[column].astype("category")

## Converting the data to one-hot encoding so that modelling can be done. ##

In [ ]:
df_final1 = pd.get_dummies(df_final1)

In [ ]:
df_final1.dtypes

Is.Non.Annual.                       float64
Days                                 float64
Tuition                              float64
Parent.Meeting.Flag                  float64
MDR.High.Grade                       float64
School.Sponsor                       float64
NumberOfMeetingswithParents          float64
DifferenceTraveltoLastMeeting        float64
FPP.to.School.enrollment             float64
FPP.to.PAX                           float64
Retained.in.2012.                    float64
frp.active                           float64
cancellation                         float64
cancelled.PAX                        float64
School.Type_CHD                        uint8
School.Type_Catholic                   uint8
School.Type_PUBLIC                     uint8
School.Type_Private non-Christian      uint8
Income.Level_A                         uint8
Income.Level_B                         uint8
Income.Level_C                         uint8
Income.Level_D                         uint8
Income.Level_E                         uint8
Income.Level_F                         uint8
Income.Level_G                         uint8
Income.Level_H                         uint8
Income.Level_I                         uint8
Income.Level_J                         uint8
Income.Level_K                         uint8
Income.Level_L                         uint8
Income.Level_M                         uint8
Income.Level_N                         uint8
Income.Level_O                         uint8
Income.Level_P                         uint8
Income.Level_P1                        uint8
Income.Level_P3                        uint8
Income.Level_P4                        uint8
Income.Level_P5                        uint8
Income.Level_Q                         uint8
Income.Level_Z                         uint8
SPR.New.Existing_EXISTING              uint8
SPR.New.Existing_NEW                   uint8
SchoolGradeTypeHigh_Elementary         uint8
SchoolGradeTypeHigh_High               uint8
SchoolGradeTypeHigh_Middle             uint8
SchoolGradeTypeHigh_Undefined          uint8
SchoolSizeIndicator_L                  uint8
SchoolSizeIndicator_M-L                uint8
SchoolSizeIndicator_S                  uint8
SchoolSizeIndicator_S-M                uint8
fpp_small                              uint8
fpp_critical                           uint8
fpp_safe                               uint8
fpp_large                              uint8
trend_0                                uint8
trend_1                                uint8
dtype: object

In [ ]:
df_final1[float_columns].describe()

,Is.Non.Annual.,Days,Tuition,Parent.Meeting.Flag,MDR.High.Grade,School.Sponsor,NumberOfMeetingswithParents,DifferenceTraveltoLastMeeting,FPP.to.School.enrollment,FPP.to.PAX,Retained.in.2012.,frp.active,cancellation,cancelled.PAX
count,2388.000000,2388.000000,2388.000000,2388.000000,2320.000000,2388.000000,2388.000000,2051.000000,2297.000000,2388.000000,2388.000000,2388.000000,2274.000000,2388.000000
mean,0.154104,4.576633,1615.716499,0.858878,8.393534,0.105528,1.102178,229.014139,0.066185,0.900652,0.607203,0.570772,inf,0.254092
std,0.361124,1.430556,644.770138,0.348221,1.745283,0.307296,0.611669,53.624196,0.081130,0.049123,0.488475,0.230689,NaN,0.353403
min,0.000000,1.000000,79.000000,0.000000,1.000000,0.000000,0.000000,-204.000000,0.000922,0.600000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,4.000000,1177.750000,1.000000,8.000000,0.000000,1.000000,197.000000,0.020772,0.882353,0.000000,0.454545,0.071429,0.066447
50%,0.000000,5.000000,1700.500000,1.000000,8.000000,0.000000,1.000000,233.000000,0.045249,0.909091,1.000000,0.600000,0.179563,0.142857
75%,0.000000,5.000000,2048.000000,1.000000,8.000000,0.000000,1.000000,261.000000,0.087523,0.933333,1.000000,0.727273,0.363636,0.302502
max,1.000000,12.000000,4200.000000,1.000000,12.000000,1.000000,2.000000,749.000000,2.052632,1.000000,1.000000,1.000000,inf,4.750000

In [ ]:
# In the above dataframe, we saw cancellation has infinity values which is not needed, so we drop the colum
df_final1.drop(columns="cancellation",inplace=True)

In [ ]:
## Chechking missing values in every column ##
print (df_final1.isnull().sum())

Is.Non.Annual.                         0
Days                                   0
Tuition                                0
Parent.Meeting.Flag                    0
MDR.High.Grade                        68
School.Sponsor                         0
NumberOfMeetingswithParents            0
DifferenceTraveltoLastMeeting        337
FPP.to.School.enrollment              91
FPP.to.PAX                             0
Retained.in.2012.                      0
frp.active                             0
cancelled.PAX                          0
School.Type_CHD                        0
School.Type_Catholic                   0
School.Type_PUBLIC                     0
School.Type_Private non-Christian      0
Income.Level_A                         0
Income.Level_B                         0
Income.Level_C                         0
Income.Level_D                         0
Income.Level_E                         0
Income.Level_F                         0
Income.Level_G                         0
Income.Level_H                         0
Income.Level_I                         0
Income.Level_J                         0
Income.Level_K                         0
Income.Level_L                         0
Income.Level_M                         0
Income.Level_N                         0
Income.Level_O                         0
Income.Level_P                         0
Income.Level_P1                        0
Income.Level_P3                        0
Income.Level_P4                        0
Income.Level_P5                        0
Income.Level_Q                         0
Income.Level_Z                         0
SPR.New.Existing_EXISTING              0
SPR.New.Existing_NEW                   0
SchoolGradeTypeHigh_Elementary         0
SchoolGradeTypeHigh_High               0
SchoolGradeTypeHigh_Middle             0
SchoolGradeTypeHigh_Undefined          0
SchoolSizeIndicator_L                  0
SchoolSizeIndicator_M-L                0
SchoolSizeIndicator_S                  0
SchoolSizeIndicator_S-M                0
fpp_small                              0
fpp_critical                           0
fpp_safe                               0
fpp_large                              0
trend_0                                0
trend_1                                0
dtype: int64

## Imputation of missing values ##

In [ ]:
imputer=MICE().fit_transform(df_final1)
df_final_imputed = pd.DataFrame(imputer, columns=df_final1.columns)

## Checking missing value again, now we see missing values as zero ##

In [ ]:
print (df_final_imputed.isnull().sum())

Is.Non.Annual.                       0
Days                                 0
Tuition                              0
Parent.Meeting.Flag                  0
MDR.High.Grade                       0
School.Sponsor                       0
NumberOfMeetingswithParents          0
DifferenceTraveltoLastMeeting        0
FPP.to.School.enrollment             0
FPP.to.PAX                           0
Retained.in.2012.                    0
frp.active                           0
cancelled.PAX                        0
School.Type_CHD                      0
School.Type_Catholic                 0
School.Type_PUBLIC                   0
School.Type_Private non-Christian    0
Income.Level_A                       0
Income.Level_B                       0
Income.Level_C                       0
Income.Level_D                       0
Income.Level_E                       0
Income.Level_F                       0
Income.Level_G                       0
Income.Level_H                       0
Income.Level_I                       0
Income.Level_J                       0
Income.Level_K                       0
Income.Level_L                       0
Income.Level_M                       0
Income.Level_N                       0
Income.Level_O                       0
Income.Level_P                       0
Income.Level_P1                      0
Income.Level_P3                      0
Income.Level_P4                      0
Income.Level_P5                      0
Income.Level_Q                       0
Income.Level_Z                       0
SPR.New.Existing_EXISTING            0
SPR.New.Existing_NEW                 0
SchoolGradeTypeHigh_Elementary       0
SchoolGradeTypeHigh_High             0
SchoolGradeTypeHigh_Middle           0
SchoolGradeTypeHigh_Undefined        0
SchoolSizeIndicator_L                0
SchoolSizeIndicator_M-L              0
SchoolSizeIndicator_S                0
SchoolSizeIndicator_S-M              0
fpp_small                            0
fpp_critical                         0
fpp_safe                             0
fpp_large                            0
trend_0                              0
trend_1                              0
dtype: int64

In [ ]:
df_final_imputed_copy=copy.deepcopy(df_final_imputed)

## Scaling the data ##

In [ ]:
scaler = MinMaxScaler()
float_columns=df_final_imputed_copy.select_dtypes(include='float64').columns
df_final_imputed_copy[float_columns] = scaler.fit_transform(df_final_imputed_copy[float_columns])

## Forward regression ##

In [ ]:
def forward_regression(X, y,
                       initial_list=[], 
                       threshold_in=0.01, 
                       threshold_out = 0.05, 
                       verbose=True):
    initial_list = []
    included = list(initial_list)
    while True:
        changed=False
        # forward step
        excluded = list(set(X.columns)-set(included))
        new_pval = pd.Series(index=excluded)
        for new_column in excluded:
            model = sm.OLS(y, sm.add_constant(pd.DataFrame(X[included+[new_column]]))).fit()
            new_pval[new_column] = model.pvalues[new_column]
        best_pval = new_pval.min()
        if best_pval < threshold_in:
            best_feature = new_pval.argmin()
            included.append(best_feature)
            changed=True
            if verbose:
                print('Add   with p-value '.format(best_feature, best_pval))

        if not changed:
            break

    return included

In [ ]:
df_final_imputed_copy["Retained"] = df_final_imputed_copy["Retained.in.2012."]
df_final_imputed_copy.drop(columns="Retained.in.2012.",inplace=True)

In [ ]:
X_train= df_final_imputed_copy.drop(columns="Retained")
Y_train= df_final_imputed_copy["Retained"]

In [ ]:
pd.value_counts(df_final_imputed_copy["Retained"])

1.0    1450
0.0     938
Name: Retained, dtype: int64

In [ ]:
pd.value_counts(df_merged["SchoolGradeTypeHigh"])

Middle        1778
High           265
Elementary     195
Undefined      150
Name: SchoolGradeTypeHigh, dtype: int64

## Here we apply forward step wise selection of features. ##

#Reference : https://www.kdnuggets.com/2018/06/step-forward-feature-selection-python.html#

In [ ]:
from sklearn.linear_model import LinearRegression
reg = LinearRegression()

# We chose maximum features as five in the option. We can change it from the option k_features.
# Build step forward feature selection
sfs1 = sfs(reg,
           k_features=5,
           forward=True,
           floating=False,
           verbose=2,
           scoring='r2',
           cv=5)

# Perform SFFS
sfs1 = sfs1.fit(X_train, Y_train)

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  54 out of  54 | elapsed:    0.5s finished

[2021-04-09 17:30:24] Features: 1/5 -- score: 0.11175079229249336[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  53 out of  53 | elapsed:    0.6s finished

[2021-04-09 17:30:25] Features: 2/5 -- score: 0.2677838507514477[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  52 out of  52 | elapsed:    0.5s finished

[2021-04-09 17:30:26] Features: 3/5 -- score: 0.29907852173335997[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  51 out of  51 | elapsed:    0.5s finished

[2021-04-09 17:30:26] Features: 4/5 -- score: 0.311188996023358[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  50 out of  50 | elapsed:    0.6s finished

[2021-04-09 17:30:27] Features: 5/5 -- score: 0.32115507457208176

 ## What are the selected features?? ##

In [ ]:
feat_cols = list(sfs1.k_feature_idx_)
print (X_train.columns[feat_cols])

Index(['Is.Non.Annual.', 'SPR.New.Existing_EXISTING',
       'SchoolGradeTypeHigh_High', 'fpp_small', 'fpp_critical'],
      dtype='object')

## Generalized linear model ##

In [ ]:
import statsmodels.api as sm

exog = sm.add_constant(X_train)
endog=Y_train
gamma_model = sm.GLM(endog,exog,family=sm.families.Gamma())

gamma_results = gamma_model.fit()

print(gamma_results.summary())

/home/harshvardhan/anaconda3/lib/python3.7/site-packages/statsmodels/genmod/generalized_linear_model.py:296: DomainWarning: The inverse_power link function does not respect the domain of the Gamma family.
  DomainWarning)

                 Generalized Linear Model Regression Results
==============================================================================
Dep. Variable:               Retained   No. Observations:                 2388
Model:                            GLM   Df Residuals:                     2338
Model Family:                   Gamma   Df Model:                           49
Link Function:          inverse_power   Scale:                          1.4250
Method:                          IRLS   Log-Likelihood:                    inf
Date:                Thu, 08 Apr 2021   Deviance:                       66556.
Time:                        05:06:00   Pearson chi2:                 3.33e+03
No. Iterations:                    65
Covariance Type:            nonrobust
=====================================================================================================
                                        coef    std err          z      P>|z|      [0.025      0.975]
-----------------------------------------------------------------------------------------------------
const                                 0.3302      0.227      1.457      0.145      -0.114       0.775
Is.Non.Annual.                        4.4815      0.390     11.500      0.000       3.718       5.245
Days                                 -0.0299      0.462     -0.065      0.948      -0.936       0.876
Tuition                               0.3582      0.412      0.869      0.385      -0.450       1.166
Parent.Meeting.Flag                  -0.0131      0.156     -0.083      0.933      -0.320       0.294
MDR.High.Grade                        0.7703      0.339      2.275      0.023       0.107       1.434
School.Sponsor                       -0.0619      0.128     -0.483      0.629      -0.313       0.189
NumberOfMeetingswithParents           0.0028      0.185      0.015      0.988      -0.359       0.365
DifferenceTraveltoLastMeeting         0.7862      0.745      1.055      0.291      -0.674       2.246
FPP.to.School.enrollment              0.1689      1.175      0.144      0.886      -2.134       2.472
FPP.to.PAX                            0.2133      0.443      0.481      0.630      -0.656       1.082
frp.active                           -0.2386      0.184     -1.294      0.196      -0.600       0.123
cancelled.PAX                         0.9325      0.967      0.964      0.335      -0.963       2.828
School.Type_CHD                       0.0635      0.116      0.548      0.584      -0.164       0.290
School.Type_Catholic                  0.0905      0.126      0.719      0.472      -0.156       0.337
School.Type_PUBLIC                    0.2174      0.088      2.482      0.013       0.046       0.389
School.Type_Private non-Christian    -0.0411      0.127     -0.323      0.747      -0.291       0.208
Income.Level_A                        0.3388      0.624      0.543      0.587      -0.884       1.562
Income.Level_B                        0.2292      0.557      0.411      0.681      -0.862       1.321
Income.Level_C                        0.4271      0.489      0.874      0.382      -0.531       1.385
Income.Level_D                        0.1956      0.509      0.384      0.701      -0.802       1.193
Income.Level_E                        0.3948      0.477      0.827      0.408      -0.540       1.330
Income.Level_F                        0.1770      0.444      0.399      0.690      -0.694       1.048
Income.Level_G                        0.2180      0.453      0.482      0.630      -0.669       1.105
Income.Level_H                        0.1840      0.434      0.424      0.671      -0.666       1.034
Income.Level_I                        0.2405      0.423      0.568      0.570      -0.589       1.070
Income.Level_J                        0.2947      0.425      0.693      0.488      -0.539       1.128
Income.Level_K                        0.1910      0.426      0.449      0.654      -0.643       1.025
Income.Level_L                        0.2289      0.416      0.550      0.583      -0.587       1.045
Income.Level_M                        0.1331      0.415      0.321      0.749      -0.681       0.947
Income.Level_N                        0.2903      0.420      0.691      0.490      -0.534       1.114
Income.Level_O                        0.1980      0.407      0.487      0.626      -0.599       0.995
Income.Level_P                        0.0718      0.407      0.177      0.860      -0.726       0.870
Income.Level_P1                      -0.1294      0.860     -0.150      0.880      -1.815       1.556
Income.Level_P3                       0.6976      1.673      0.417      0.677      -2.582       3.977
Income.Level_P4                      -0.4101      0.895     -0.458      0.647      -2.165       1.345
Income.Level_P5                      -0.0736      1.242     -0.059      0.953      -2.509       2.361
Income.Level_Q                        0.2494      0.411      0.606      0.544      -0.557       1.056
Income.Level_Z                        0.2167      0.493      0.439      0.660      -0.750       1.183
SPR.New.Existing_EXISTING            -0.3656      0.127     -2.871      0.004      -0.615      -0.116
SPR.New.Existing_NEW                  0.6958      0.135      5.136      0.000       0.430       0.961
SchoolGradeTypeHigh_Elementary        0.0444      0.164      0.271      0.786      -0.276       0.365
SchoolGradeTypeHigh_High              0.7019      0.225      3.115      0.002       0.260       1.144
SchoolGradeTypeHigh_Middle           -0.2032      0.102     -1.996      0.046      -0.403      -0.004
SchoolGradeTypeHigh_Undefined        -0.2129      0.146     -1.457      0.145      -0.499       0.074
SchoolSizeIndicator_L                -0.2425      0.326     -0.745      0.456      -0.881       0.396
SchoolSizeIndicator_M-L              -0.1553      0.324     -0.479      0.632      -0.790       0.480
SchoolSizeIndicator_S                 0.0923      0.332      0.278      0.781      -0.558       0.743
SchoolSizeIndicator_S-M              -0.1607      0.322     -0.500      0.617      -0.791       0.470
fpp_small                             0.5114      0.132      3.872      0.000       0.253       0.770
fpp_critical                          0.0595      0.101      0.592      0.554      -0.138       0.257
fpp_safe                             -0.1111      0.095     -1.170      0.242      -0.297       0.075
fpp_large                            -0.1295      0.101     -1.276      0.202      -0.328       0.069
trend_0                               0.1637      0.119      1.379      0.168      -0.069       0.396
trend_1                               0.1665      0.132      1.266      0.206      -0.091       0.424
=====================================================================================================

/home/harshvardhan/anaconda3/lib/python3.7/site-packages/statsmodels/genmod/families/family.py:735: RuntimeWarning: divide by zero encountered in log
  ll_obs -= special.gammaln(weight_scale) + np.log(endog)

In [ ]:
sm.add_constant(X_train)

,const,Is.Non.Annual.,Days,Tuition,Parent.Meeting.Flag,MDR.High.Grade,School.Sponsor,NumberOfMeetingswithParents,DifferenceTraveltoLastMeeting,FPP.to.School.enrollment,...,SchoolSizeIndicator_L,SchoolSizeIndicator_M-L,SchoolSizeIndicator_S,SchoolSizeIndicator_S-M,fpp_small,fpp_critical,fpp_safe,fpp_large,trend_0,trend_1
0,1.0,0.0,0.545455,0.551080,1.0,0.636364,0.0,1.0,0.360965,0.013850,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
1,1.0,0.0,0.181818,0.267411,1.0,0.636364,0.0,0.5,0.344176,0.013485,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
2,1.0,1.0,0.181818,0.072070,0.0,0.939663,0.0,0.0,0.447905,0.031979,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
3,1.0,0.0,0.454545,0.190730,1.0,0.636364,0.0,0.5,0.366212,0.055996,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
4,1.0,0.0,0.272727,0.472215,1.0,1.000000,0.0,0.5,0.309549,0.006439,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2383,1.0,0.0,0.363636,0.439942,0.0,0.636364,0.0,0.0,0.459258,0.010492,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
2384,1.0,0.0,0.363636,0.393108,1.0,0.454545,0.0,1.0,0.492130,0.018181,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0
2385,1.0,0.0,0.454545,0.502305,0.0,0.825630,0.0,0.0,0.452049,0.028758,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
2386,1.0,0.0,0.000000,0.089784,1.0,0.530009,0.0,0.5,0.515215,0.013921,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
2387,1.0,0.0,0.454545,0.498908,1.0,0.636364,0.0,0.5,0.500525,0.014740,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0