<a href="https://colab.research.google.com/github/tleitch/BDML/blob/main/scholastic_travel/Copy_of_stochastic_travel.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [164]:
!pip install fancyimpute
!pip install mlxtend

Requirement already satisfied: fancyimpute in /usr/local/lib/python3.7/dist-packages (0.4.3)
Requirement already satisfied: knnimpute in /usr/local/lib/python3.7/dist-packages (from fancyimpute) (0.1.0)
Requirement already satisfied: cvxpy>=1.0.6 in /usr/local/lib/python3.7/dist-packages (from fancyimpute) (1.0.31)
Requirement already satisfied: tensorflow in /usr/local/lib/python3.7/dist-packages (from fancyimpute) (2.4.1)
Requirement already satisfied: scikit-learn>=0.19.1 in /usr/local/lib/python3.7/dist-packages (from fancyimpute) (0.22.2.post1)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from fancyimpute) (1.4.1)
Requirement already satisfied: keras>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from fancyimpute) (2.4.3)
Requirement already satisfied: np-utils in /usr/local/lib/python3.7/dist-packages (from fancyimpute) (0.5.12.1)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from fancyimpute) (1.15.0)
Requirement already satisfied: numpy>=1.10 in /usr/local/lib/python3.7/dist-packages (from fancyimpute) (1.19.5)
Requirement already satisfied: multiprocess in /usr/local/lib/python3.7/dist-packages (from cvxpy>=1.0.6->fancyimpute) (0.70.11.1)
Requirement already satisfied: osqp>=0.4.1 in /usr/local/lib/python3.7/dist-packages (from cvxpy>=1.0.6->fancyimpute) (0.6.2.post0)
Requirement already satisfied: ecos>=2 in /usr/local/lib/python3.7/dist-packages (from cvxpy>=1.0.6->fancyimpute) (2.0.7.post1)
Requirement already satisfied: scs>=1.1.3 in /usr/local/lib/python3.7/dist-packages (from cvxpy>=1.0.6->fancyimpute) (2.1.2)
Requirement already satisfied: flatbuffers~=1.12.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow->fancyimpute) (1.12)
Requirement already satisfied: h5py~=2.10.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow->fancyimpute) (2.10.0)
Requirement already satisfied: typing-extensions~=3.7.4 in /usr/local/lib/python3.7/dist-packages (from tensorflow->fancyimpute) (3.7.4.3)
Requirement already satisfied: google-pasta~=0.2 in /usr/local/lib/python3.7/dist-packages (from tensorflow->fancyimpute) (0.2.0)
Requirement already satisfied: keras-preprocessing~=1.1.2 in /usr/local/lib/python3.7/dist-packages (from tensorflow->fancyimpute) (1.1.2)
Requirement already satisfied: opt-einsum~=3.3.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow->fancyimpute) (3.3.0)
Requirement already satisfied: grpcio~=1.32.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow->fancyimpute) (1.32.0)
Requirement already satisfied: wheel~=0.35 in /usr/local/lib/python3.7/dist-packages (from tensorflow->fancyimpute) (0.36.2)
Requirement already satisfied: protobuf>=3.9.2 in /usr/local/lib/python3.7/dist-packages (from tensorflow->fancyimpute) (3.12.4)
Requirement already satisfied: gast==0.3.3 in /usr/local/lib/python3.7/dist-packages (from tensorflow->fancyimpute) (0.3.3)
Requirement already satisfied: tensorboard~=2.4 in /usr/local/lib/python3.7/dist-packages (from tensorflow->fancyimpute) (2.4.1)
Requirement already satisfied: tensorflow-estimator<2.5.0,>=2.4.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow->fancyimpute) (2.4.0)
Requirement already satisfied: termcolor~=1.1.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow->fancyimpute) (1.1.0)
Requirement already satisfied: wrapt~=1.12.1 in /usr/local/lib/python3.7/dist-packages (from tensorflow->fancyimpute) (1.12.1)
Requirement already satisfied: astunparse~=1.6.3 in /usr/local/lib/python3.7/dist-packages (from tensorflow->fancyimpute) (1.6.3)
Requirement already satisfied: absl-py~=0.10 in /usr/local/lib/python3.7/dist-packages (from tensorflow->fancyimpute) (0.12.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.19.1->fancyimpute) (1.0.1)
Requirement already satisfied: pyyaml in /usr/local/lib/python3.7/dist-packages (from keras>=2.0.0->fancyimpute) (3.13)
Requirement already satisfied: future>=0.16 in /usr/local/lib/python3.7/dist-packages (from np-utils->fancyimpute) (0.16.0)
Requirement already satisfied: dill>=0.3.3 in /usr/local/lib/python3.7/dist-packages (from multiprocess->cvxpy>=1.0.6->fancyimpute) (0.3.3)
Requirement already satisfied: qdldl in /usr/local/lib/python3.7/dist-packages (from osqp>=0.4.1->cvxpy>=1.0.6->fancyimpute) (0.1.5.post0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from protobuf>=3.9.2->tensorflow->fancyimpute) (54.2.0)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.7/dist-packages (from tensorboard~=2.4->tensorflow->fancyimpute) (3.3.4)
Requirement already satisfied: requests<3,>=2.21.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard~=2.4->tensorflow->fancyimpute) (2.23.0)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard~=2.4->tensorflow->fancyimpute) (1.8.0)
Requirement already satisfied: werkzeug>=0.11.15 in /usr/local/lib/python3.7/dist-packages (from tensorboard~=2.4->tensorflow->fancyimpute) (1.0.1)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in /usr/local/lib/python3.7/dist-packages (from tensorboard~=2.4->tensorflow->fancyimpute) (0.4.3)
Requirement already satisfied: google-auth<2,>=1.6.3 in /usr/local/lib/python3.7/dist-packages (from tensorboard~=2.4->tensorflow->fancyimpute) (1.28.0)
Requirement already satisfied: importlib-metadata; python_version < "3.8" in /usr/local/lib/python3.7/dist-packages (from markdown>=2.6.8->tensorboard~=2.4->tensorflow->fancyimpute) (3.8.1)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.21.0->tensorboard~=2.4->tensorflow->fancyimpute) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.21.0->tensorboard~=2.4->tensorflow->fancyimpute) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.21.0->tensorboard~=2.4->tensorflow->fancyimpute) (2020.12.5)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.21.0->tensorboard~=2.4->tensorflow->fancyimpute) (2.10)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard~=2.4->tensorflow->fancyimpute) (1.3.0)
Requirement already satisfied: rsa<5,>=3.1.4; python_version >= "3.6" in /usr/local/lib/python3.7/dist-packages (from google-auth<2,>=1.6.3->tensorboard~=2.4->tensorflow->fancyimpute) (4.7.2)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from google-auth<2,>=1.6.3->tensorboard~=2.4->tensorflow->fancyimpute) (0.2.8)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from google-auth<2,>=1.6.3->tensorboard~=2.4->tensorflow->fancyimpute) (4.2.1)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata; python_version < "3.8"->markdown>=2.6.8->tensorboard~=2.4->tensorflow->fancyimpute) (3.4.1)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard~=2.4->tensorflow->fancyimpute) (3.1.0)
Requirement already satisfied: pyasn1>=0.1.3 in /usr/local/lib/python3.7/dist-packages (from rsa<5,>=3.1.4; python_version >= "3.6"->google-auth<2,>=1.6.3->tensorboard~=2.4->tensorflow->fancyimpute) (0.4.8)
Requirement already satisfied: mlxtend in /usr/local/lib/python3.7/dist-packages (0.14.0)
Requirement already satisfied: pandas>=0.17.1 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.1.5)
Requirement already satisfied: numpy>=1.10.4 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.19.5)
Requirement already satisfied: matplotlib>=1.5.1 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (3.2.2)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from mlxtend) (54.2.0)
Requirement already satisfied: scipy>=0.17 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.4.1)
Requirement already satisfied: scikit-learn>=0.18 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (0.22.2.post1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.17.1->mlxtend) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.17.1->mlxtend) (2.8.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.5.1->mlxtend) (2.4.7)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.5.1->mlxtend) (1.3.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.5.1->mlxtend) (0.10.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.18->mlxtend) (1.0.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.17.1->mlxtend) (1.15.0)

In [165]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import xlrd
pd.options.mode.chained_assignment = None
#from fancyimpute import MICE
from fancyimpute import IterativeImputer as MICE
import copy
from sklearn.preprocessing import MinMaxScaler
import statsmodels.api as sm
import warnings
warnings.filterwarnings("ignore")
from sklearn.ensemble import RandomForestClassifier
from mlxtend.feature_selection import SequentialFeatureSelector as sfs

In [166]:
## sometimes in data ,people represent NA values differently. Pandas provide a way to input all possible NA values in form of list so that they are stored in memory as NA##
exhibit_1 = pd.read_csv("https://raw.githubusercontent.com/tleitch/BDML/main/scholastic_travel/exhibit_1.csv", na_values=["#N/A", "#N/A N/A", "#NA", "-1.#IND", "-1.#QNAN", "-NaN", "-nan", "1.#IND", "1.#QNAN", "N/A", "NA", "NULL", "NaN", "nan"])
exhibit_2 = pd.read_csv("https://raw.githubusercontent.com/tleitch/BDML/main/scholastic_travel/exhibit_2.csv",na_values = ["#N/A", "#N/A N/A", "#NA", "-1.#IND", "-1.#QNAN", "-NaN", "-nan", "1.#IND", "1.#QNAN", "N/A", "NA", "NULL", "NaN", "nan"])

exhibit_1 = exhibit_1[1:2389]
exhibit_2 = exhibit_2[1:2389]

In [167]:
exhibit_1.head()

  ID Program.Code  ...  SchoolSizeIndicator  Retained.in.2012.
1  2           HC  ...                    L                1.0
2  3           HD  ...                    L                1.0
3  4           HN  ...                  NaN                0.0
4  5           HD  ...                  M-L                0.0
5  6           HC  ...                    L                1.0

[5 rows x 56 columns]

In [168]:
exhibit_1.dtypes

ID                                 object
Program.Code                       object
From.Grade                        float64
To.Grade                          float64
Group.State                        object
Is.Non.Annual.                    float64
Days                              float64
Travel.Type                        object
Departure.Date                     object
Return.Date                        object
Deposit.Date                       object
Special.Pay                        object
Tuition                           float64
FRP.Active                        float64
FRP.Cancelled                     float64
FRP.Take.up.percent.              float64
Early.RPL                          object
Latest.RPL                         object
Cancelled.Pax                     float64
Total.Discount.Pax                float64
Initial.System.Date                object
Poverty.Code                       object
Region                             object
CRM.Segment                       float64
School.Type                        object
Parent.Meeting.Flag               float64
MDR.Low.Grade                      object
MDR.High.Grade                    float64
Total.School.Enrollment           float64
Income.Level                       object
EZ.Pay.Take.Up.Rate               float64
School.Sponsor                    float64
SPR.Product.Type                   object
SPR.New.Existing                   object
FPP                               float64
Total.Pax                         float64
SPR.Group.Revenue                 float64
NumberOfMeetingswithParents       float64
FirstMeeting                       object
LastMeeting                        object
DifferenceTraveltoFirstMeeting    float64
DifferenceTraveltoLastMeeting     float64
SchoolGradeTypeLow                 object
SchoolGradeTypeHigh                object
SchoolGradeType                    object
DepartureMonth                     object
GroupGradeTypeLow                  object
GroupGradeTypeHigh                 object
GroupGradeType                     object
MajorProgramCode                   object
SingleGradeTripFlag               float64
FPP.to.School.enrollment          float64
FPP.to.PAX                        float64
Num.of.Non_FPP.PAX                float64
SchoolSizeIndicator                object
Retained.in.2012.                 float64
dtype: object

In [169]:
exhibit_2.head()

  ID  NPS 2011  NPS 2010  ...  >= 10 FPP Date  >= 20 FPP Date >= 35 FPP Date
1  2       9.0      10.0  ...      20/01/2010      31/05/2010            NaN
2  3       NaN      10.0  ...      09/06/2010      26/10/2010            NaN
3  4      10.0       NaN  ...      06/01/2011             NaN            NaN
4  5      10.0       NaN  ...      24/05/2010      27/05/2010     01/06/2010
5  6      10.0       NaN  ...      15/12/2010             NaN            NaN

[5 rows x 9 columns]

In [170]:
exhibit_2.dtypes

ID                 object
NPS 2011          float64
NPS 2010          float64
NPS 2009          float64
NPS 2008          float64
>= 3 FPP Date      object
>= 10 FPP Date     object
>= 20 FPP Date     object
>= 35 FPP Date     object
dtype: object

In [171]:
exhibit_1.shape

(2388, 56)

In [172]:
df_merged = pd.merge(exhibit_1, exhibit_2, on="ID")

In [173]:
df_merged["cancellation"] = df_merged["FRP.Cancelled"]/df_merged["FRP.Active"]

In [174]:
date_cols = ["Departure.Date","Return.Date","Deposit.Date","Early.RPL","Latest.RPL","Initial.System.Date","FirstMeeting","LastMeeting"]

In [175]:
for column in date_cols:
    df_merged[column]=pd.to_datetime(df_merged[column])

In [176]:
df_merged["Return.Date"]

0      2011-01-21
1      2011-01-17
2      2011-01-17
3      2011-01-21
4      2011-01-20
          ...
2383   2011-02-07
2384   2011-03-07
2385   2011-05-07
2386   2011-06-30
2387   2011-05-07
Name: Return.Date, Length: 2388, dtype: datetime64[ns]

In [177]:

unchanged_cols = ["Is.Non.Annual.","Days","Tuition","School.Type","Parent.Meeting.Flag","MDR.High.Grade","Income.Level","School.Sponsor","SPR.New.Existing","NumberOfMeetingswithParents","DifferenceTraveltoLastMeeting","SchoolGradeTypeHigh","FPP.to.School.enrollment","FPP.to.PAX","SchoolSizeIndicator","Retained.in.2012."]
df_final1 = df_merged[unchanged_cols]

In [178]:
df_final1["frp.active"]  =df_merged["FRP.Active"]/df_merged["FPP"]

df_final1["cancellation"] = df_merged["FRP.Cancelled"]/df_merged["FRP.Active"]
df_final1["cancelled.PAX"] = df_merged["Cancelled.Pax"]/df_merged["FPP"]

In [179]:
MAX_VALUE = 100000000

In [180]:
df_final1['fpp'] = pd.cut(x=df_merged['FPP'], bins=[-MAX_VALUE,10,20,35,MAX_VALUE],labels=['small','critical','safe','large'])
df_final1["trend"]=((df_merged.iloc[:, 56:59].mean(axis=1,skipna=True) > df_merged.iloc[:,56:58].mean(axis=1,skipna=True)).astype(int)).astype("category")

In [181]:
object_columns = df_final1.select_dtypes(include='object').columns
category_columns=df_final1.select_dtypes(include='category').columns
float_columns=df_final1.select_dtypes(include='float64').columns

In [182]:
df_final1.dtypes

Is.Non.Annual.                    float64
Days                              float64
Tuition                           float64
School.Type                        object
Parent.Meeting.Flag               float64
MDR.High.Grade                    float64
Income.Level                       object
School.Sponsor                    float64
SPR.New.Existing                   object
NumberOfMeetingswithParents       float64
DifferenceTraveltoLastMeeting     float64
SchoolGradeTypeHigh                object
FPP.to.School.enrollment          float64
FPP.to.PAX                        float64
SchoolSizeIndicator                object
Retained.in.2012.                 float64
frp.active                        float64
cancellation                      float64
cancelled.PAX                     float64
fpp                              category
trend                            category
dtype: object

In [183]:
df_final1.head()

   Is.Non.Annual.  Days  Tuition  ... cancelled.PAX       fpp  trend
0             0.0   7.0   2350.0  ...      0.500000      safe      1
1             0.0   3.0   1181.0  ...      0.250000      safe      0
2             1.0   3.0    376.0  ...      0.055556  critical      0
3             0.0   6.0    865.0  ...      0.111111     large      0
4             0.0   4.0   2025.0  ...      0.300000     small      0

[5 rows x 21 columns]

In [184]:
for column in object_columns:
    df_final1[column] = df_final1[column].astype("category")

## Converting the data to one-hot encoding so that modelling can be done. ##

In [185]:
df_final1 = pd.get_dummies(df_final1)

In [186]:
df_final1.dtypes

Is.Non.Annual.                       float64
Days                                 float64
Tuition                              float64
Parent.Meeting.Flag                  float64
MDR.High.Grade                       float64
School.Sponsor                       float64
NumberOfMeetingswithParents          float64
DifferenceTraveltoLastMeeting        float64
FPP.to.School.enrollment             float64
FPP.to.PAX                           float64
Retained.in.2012.                    float64
frp.active                           float64
cancellation                         float64
cancelled.PAX                        float64
School.Type_CHD                        uint8
School.Type_Catholic                   uint8
School.Type_PUBLIC                     uint8
School.Type_Private non-Christian      uint8
Income.Level_A                         uint8
Income.Level_B                         uint8
Income.Level_C                         uint8
Income.Level_D                         uint8
Income.Level_E                         uint8
Income.Level_F                         uint8
Income.Level_G                         uint8
Income.Level_H                         uint8
Income.Level_I                         uint8
Income.Level_J                         uint8
Income.Level_K                         uint8
Income.Level_L                         uint8
Income.Level_M                         uint8
Income.Level_N                         uint8
Income.Level_O                         uint8
Income.Level_P                         uint8
Income.Level_P1                        uint8
Income.Level_P3                        uint8
Income.Level_P4                        uint8
Income.Level_P5                        uint8
Income.Level_Q                         uint8
Income.Level_Z                         uint8
SPR.New.Existing_EXISTING              uint8
SPR.New.Existing_NEW                   uint8
SchoolGradeTypeHigh_Elementary         uint8
SchoolGradeTypeHigh_High               uint8
SchoolGradeTypeHigh_Middle             uint8
SchoolGradeTypeHigh_Undefined          uint8
SchoolSizeIndicator_L                  uint8
SchoolSizeIndicator_M-L                uint8
SchoolSizeIndicator_S                  uint8
SchoolSizeIndicator_S-M                uint8
fpp_small                              uint8
fpp_critical                           uint8
fpp_safe                               uint8
fpp_large                              uint8
trend_0                                uint8
trend_1                                uint8
dtype: object

In [187]:
df_final1[float_columns].describe()

       Is.Non.Annual.         Days  ...  cancellation  cancelled.PAX
count     2388.000000  2388.000000  ...   2274.000000    2388.000000
mean         0.154104     4.576633  ...           inf       0.254092
std          0.361124     1.430556  ...           NaN       0.353403
min          0.000000     1.000000  ...      0.000000       0.000000
25%          0.000000     4.000000  ...      0.071429       0.066447
50%          0.000000     5.000000  ...      0.179563       0.142857
75%          0.000000     5.000000  ...      0.363636       0.302502
max          1.000000    12.000000  ...           inf       4.750000

[8 rows x 14 columns]

In [188]:
# In the above dataframe, we saw cancellation has infinity values which is not needed, so we drop the colum
df_final1.drop(columns="cancellation",inplace=True)

In [189]:
## Chechking missing values in every column ##
print (df_final1.isnull().sum())

Is.Non.Annual.                         0
Days                                   0
Tuition                                0
Parent.Meeting.Flag                    0
MDR.High.Grade                        68
School.Sponsor                         0
NumberOfMeetingswithParents            0
DifferenceTraveltoLastMeeting        337
FPP.to.School.enrollment              91
FPP.to.PAX                             0
Retained.in.2012.                      0
frp.active                             0
cancelled.PAX                          0
School.Type_CHD                        0
School.Type_Catholic                   0
School.Type_PUBLIC                     0
School.Type_Private non-Christian      0
Income.Level_A                         0
Income.Level_B                         0
Income.Level_C                         0
Income.Level_D                         0
Income.Level_E                         0
Income.Level_F                         0
Income.Level_G                         0
Income.Level_H                         0
Income.Level_I                         0
Income.Level_J                         0
Income.Level_K                         0
Income.Level_L                         0
Income.Level_M                         0
Income.Level_N                         0
Income.Level_O                         0
Income.Level_P                         0
Income.Level_P1                        0
Income.Level_P3                        0
Income.Level_P4                        0
Income.Level_P5                        0
Income.Level_Q                         0
Income.Level_Z                         0
SPR.New.Existing_EXISTING              0
SPR.New.Existing_NEW                   0
SchoolGradeTypeHigh_Elementary         0
SchoolGradeTypeHigh_High               0
SchoolGradeTypeHigh_Middle             0
SchoolGradeTypeHigh_Undefined          0
SchoolSizeIndicator_L                  0
SchoolSizeIndicator_M-L                0
SchoolSizeIndicator_S                  0
SchoolSizeIndicator_S-M                0
fpp_small                              0
fpp_critical                           0
fpp_safe                               0
fpp_large                              0
trend_0                                0
trend_1                                0
dtype: int64

## Imputation of missing values ##

In [190]:
imputer=MICE().fit_transform(df_final1)
df_final_imputed = pd.DataFrame(imputer, columns=df_final1.columns)

In [191]:
df_final_imputed.head()

   Is.Non.Annual.  Days  Tuition  ...  fpp_large  trend_0  trend_1
0             0.0   7.0   2350.0  ...        0.0      0.0      1.0
1             0.0   3.0   1181.0  ...        0.0      1.0      0.0
2             1.0   3.0    376.0  ...        0.0      1.0      0.0
3             0.0   6.0    865.0  ...        1.0      1.0      0.0
4             0.0   4.0   2025.0  ...        0.0      1.0      0.0

[5 rows x 55 columns]

## Checking missing value again, now we see missing values as zero ##

In [192]:
print (df_final_imputed.isnull().sum())

Is.Non.Annual.                       0
Days                                 0
Tuition                              0
Parent.Meeting.Flag                  0
MDR.High.Grade                       0
School.Sponsor                       0
NumberOfMeetingswithParents          0
DifferenceTraveltoLastMeeting        0
FPP.to.School.enrollment             0
FPP.to.PAX                           0
Retained.in.2012.                    0
frp.active                           0
cancelled.PAX                        0
School.Type_CHD                      0
School.Type_Catholic                 0
School.Type_PUBLIC                   0
School.Type_Private non-Christian    0
Income.Level_A                       0
Income.Level_B                       0
Income.Level_C                       0
Income.Level_D                       0
Income.Level_E                       0
Income.Level_F                       0
Income.Level_G                       0
Income.Level_H                       0
Income.Level_I                       0
Income.Level_J                       0
Income.Level_K                       0
Income.Level_L                       0
Income.Level_M                       0
Income.Level_N                       0
Income.Level_O                       0
Income.Level_P                       0
Income.Level_P1                      0
Income.Level_P3                      0
Income.Level_P4                      0
Income.Level_P5                      0
Income.Level_Q                       0
Income.Level_Z                       0
SPR.New.Existing_EXISTING            0
SPR.New.Existing_NEW                 0
SchoolGradeTypeHigh_Elementary       0
SchoolGradeTypeHigh_High             0
SchoolGradeTypeHigh_Middle           0
SchoolGradeTypeHigh_Undefined        0
SchoolSizeIndicator_L                0
SchoolSizeIndicator_M-L              0
SchoolSizeIndicator_S                0
SchoolSizeIndicator_S-M              0
fpp_small                            0
fpp_critical                         0
fpp_safe                             0
fpp_large                            0
trend_0                              0
trend_1                              0
dtype: int64

In [193]:
df_final_imputed_copy=copy.deepcopy(df_final_imputed)

## Scaling the data ##

In [194]:
scaler = MinMaxScaler()
float_columns=df_final_imputed_copy.select_dtypes(include='float64').columns
df_final_imputed_copy[float_columns] = scaler.fit_transform(df_final_imputed_copy[float_columns])

In [195]:
df_final_imputed_copy.head()

   Is.Non.Annual.      Days   Tuition  ...  fpp_large  trend_0  trend_1
0             0.0  0.545455  0.551080  ...        0.0      0.0      1.0
1             0.0  0.181818  0.267411  ...        0.0      1.0      0.0
2             1.0  0.181818  0.072070  ...        0.0      1.0      0.0
3             0.0  0.454545  0.190730  ...        1.0      1.0      0.0
4             0.0  0.272727  0.472215  ...        0.0      1.0      0.0

[5 rows x 55 columns]

In [196]:
df_final_imputed_copy["Retained"] = df_final_imputed_copy["Retained.in.2012."]
df_final_imputed_copy.drop(columns="Retained.in.2012.",inplace=True)

X_train= df_final_imputed_copy.drop(columns="Retained")
Y_train= df_final_imputed_copy["Retained"]

In [197]:
pd.value_counts(df_final_imputed_copy["Retained"])

1.0    1450
0.0     938
Name: Retained, dtype: int64

In [198]:
pd.value_counts(df_merged["SchoolGradeTypeHigh"])

Middle        1778
High           265
Elementary     195
Undefined      150
Name: SchoolGradeTypeHigh, dtype: int64

## Random forest feature selection ##

In [199]:
from sklearn.ensemble import RandomForestClassifier
rf_model = RandomForestClassifier(n_estimators=10)
rf_results = rf_model.fit(X_train,Y_train)

import numpy as np
from collections import OrderedDict
importance_dict = {}
importances = rf_results.feature_importances_

for f in range(X_train.shape[1]):
     importance_dict[X_train.columns[f]] = round(importances[indices[f]],4)

importance_dict_sorted =OrderedDict(sorted(importance_dict.items(), key=lambda item: item[1],reverse=True))  
feature_imp =pd.DataFrame(list(importance_dict_sorted.values()),list(importance_dict_sorted.keys()))

feature_imp.columns = ["importance"]
feature_imp

                                   importance
Is.Non.Annual.                         0.1214
Days                                   0.0806
Tuition                                0.0694
NumberOfMeetingswithParents            0.0693
Parent.Meeting.Flag                    0.0679
MDR.High.Grade                         0.0674
School.Sponsor                         0.0668
FPP.to.School.enrollment               0.0498
DifferenceTraveltoLastMeeting          0.0412
frp.active                             0.0296
FPP.to.PAX                             0.0260
School.Type_PUBLIC                     0.0250
Income.Level_A                         0.0205
School.Type_CHD                        0.0177
cancelled.PAX                          0.0173
Income.Level_D                         0.0135
Income.Level_B                         0.0116
School.Type_Catholic                   0.0115
Income.Level_N                         0.0104
Income.Level_F                         0.0101
Income.Level_C                         0.0099
Income.Level_I                         0.0096
Income.Level_L                         0.0093
Income.Level_G                         0.0089
School.Type_Private non-Christian      0.0086
Income.Level_H                         0.0084
Income.Level_K                         0.0081
Income.Level_M                         0.0078
SPR.New.Existing_NEW                   0.0075
Income.Level_P3                        0.0072
Income.Level_Z                         0.0072
Income.Level_E                         0.0070
Income.Level_J                         0.0061
Income.Level_O                         0.0059
SchoolGradeTypeHigh_High               0.0058
SchoolGradeTypeHigh_Undefined          0.0054
SchoolSizeIndicator_M-L                0.0054
Income.Level_P1                        0.0053
Income.Level_P4                        0.0052
Income.Level_P                         0.0048
Income.Level_Q                         0.0046
SPR.New.Existing_EXISTING              0.0043
SchoolGradeTypeHigh_Elementary         0.0042
SchoolGradeTypeHigh_Middle             0.0036
Income.Level_P5                        0.0032
SchoolSizeIndicator_S                  0.0027
fpp_small                              0.0025
SchoolSizeIndicator_S-M                0.0022
SchoolSizeIndicator_L                  0.0020
fpp_critical                           0.0005
fpp_safe                               0.0000
fpp_large                              0.0000
trend_0                                0.0000
trend_1                                0.0000

#Forward step wise feature selection #
#Reference : https://www.kdnuggets.com/2018/06/step-forward-feature-selection-python.html#

In [200]:
from sklearn.linear_model import LinearRegression
reg = LinearRegression()

# We chose maximum features as five in the option. We can change it from the option k_features.
# Build step forward feature selection
sfs1 = sfs(reg,
           k_features=5,
           forward=True,
           floating=False,
           verbose=2,
           scoring='r2',
           cv=5)

# Perform SFFS
sfs1 = sfs1.fit(X_train, Y_train)

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  54 out of  54 | elapsed:    0.4s finished

[2021-04-10 21:07:26] Features: 1/5 -- score: 0.11175079229249303[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  53 out of  53 | elapsed:    0.4s finished

[2021-04-10 21:07:26] Features: 2/5 -- score: 0.2677838507514477[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  52 out of  52 | elapsed:    0.4s finished

[2021-04-10 21:07:27] Features: 3/5 -- score: 0.2990785217333597[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  51 out of  51 | elapsed:    0.5s finished

[2021-04-10 21:07:27] Features: 4/5 -- score: 0.31118899602335776[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  50 out of  50 | elapsed:    0.4s finished

[2021-04-10 21:07:28] Features: 5/5 -- score: 0.3211550745720815

## Generalized linear model ##

In [201]:
import statsmodels.api as sm

exog = sm.add_constant(X_train)
endog=Y_train
gamma_model = sm.GLM(endog,exog,family=sm.families.Gamma())

gamma_results = gamma_model.fit()

print(gamma_results.summary())

                 Generalized Linear Model Regression Results
==============================================================================
Dep. Variable:               Retained   No. Observations:                 2388
Model:                            GLM   Df Residuals:                     2338
Model Family:                   Gamma   Df Model:                           49
Link Function:          inverse_power   Scale:                          1.4261
Method:                          IRLS   Log-Likelihood:                    inf
Date:                Sat, 10 Apr 2021   Deviance:                       66556.
Time:                        21:07:29   Pearson chi2:                 3.33e+03
No. Iterations:                   100
Covariance Type:            nonrobust
=====================================================================================================
                                        coef    std err          z      P>|z|      [0.025      0.975]
-----------------------------------------------------------------------------------------------------
const                                 0.3335      0.227      1.468      0.142      -0.112       0.779
Is.Non.Annual.                        4.4818      0.390     11.495      0.000       3.718       5.246
Days                                 -0.0294      0.463     -0.064      0.949      -0.936       0.878
Tuition                               0.3578      0.413      0.867      0.386      -0.451       1.167
Parent.Meeting.Flag                  -0.0130      0.157     -0.083      0.934      -0.320       0.294
MDR.High.Grade                        0.7688      0.339      2.269      0.023       0.105       1.433
School.Sponsor                       -0.0615      0.128     -0.479      0.632      -0.313       0.190
NumberOfMeetingswithParents           0.0024      0.185      0.013      0.990      -0.360       0.365
DifferenceTraveltoLastMeeting         0.7526      0.749      1.004      0.315      -0.716       2.221
FPP.to.School.enrollment              0.1610      1.178      0.137      0.891      -2.148       2.470
FPP.to.PAX                            0.2130      0.444      0.480      0.631      -0.657       1.083
frp.active                           -0.2396      0.185     -1.297      0.195      -0.602       0.122
cancelled.PAX                         0.9339      0.968      0.965      0.335      -0.963       2.831
School.Type_CHD                       0.0641      0.116      0.553      0.580      -0.163       0.292
School.Type_Catholic                  0.0912      0.126      0.723      0.470      -0.156       0.339
School.Type_PUBLIC                    0.2178      0.088      2.482      0.013       0.046       0.390
School.Type_Private non-Christian    -0.0397      0.127     -0.311      0.756      -0.289       0.210
Income.Level_A                        0.3466      0.625      0.554      0.579      -0.879       1.572
Income.Level_B                        0.2378      0.558      0.427      0.670      -0.855       1.331
Income.Level_C                        0.4352      0.489      0.889      0.374      -0.524       1.395
Income.Level_D                        0.2038      0.510      0.400      0.689      -0.795       1.203
Income.Level_E                        0.4032      0.478      0.844      0.399      -0.533       1.340
Income.Level_F                        0.1856      0.445      0.417      0.676      -0.686       1.057
Income.Level_G                        0.2263      0.453      0.500      0.617      -0.662       1.114
Income.Level_H                        0.1924      0.434      0.443      0.658      -0.659       1.043
Income.Level_I                        0.2490      0.424      0.588      0.557      -0.582       1.080
Income.Level_J                        0.3031      0.426      0.712      0.476      -0.531       1.137
Income.Level_K                        0.1992      0.426      0.468      0.640      -0.636       1.034
Income.Level_L                        0.2373      0.417      0.569      0.569      -0.580       1.055
Income.Level_M                        0.1413      0.416      0.340      0.734      -0.674       0.956
Income.Level_N                        0.2986      0.421      0.709      0.478      -0.527       1.124
Income.Level_O                        0.2063      0.407      0.507      0.612      -0.592       1.004
Income.Level_P                        0.0802      0.408      0.197      0.844      -0.719       0.879
Income.Level_P1                      -0.1206      0.861     -0.140      0.889      -1.807       1.566
Income.Level_P3                       0.7056      1.675      0.421      0.674      -2.577       3.988
Income.Level_P4                      -0.4002      0.896     -0.447      0.655      -2.157       1.357
Income.Level_P5                      -0.0827      1.245     -0.066      0.947      -2.523       2.357
Income.Level_Q                        0.2578      0.412      0.626      0.532      -0.550       1.066
Income.Level_Z                        0.2250      0.493      0.456      0.648      -0.742       1.192
SPR.New.Existing_EXISTING            -0.3639      0.128     -2.852      0.004      -0.614      -0.114
SPR.New.Existing_NEW                  0.6974      0.136      5.137      0.000       0.431       0.964
SchoolGradeTypeHigh_Elementary        0.0437      0.164      0.267      0.790      -0.278       0.365
SchoolGradeTypeHigh_High              0.7034      0.226      3.119      0.002       0.261       1.146
SchoolGradeTypeHigh_Middle           -0.2021      0.102     -1.985      0.047      -0.402      -0.003
SchoolGradeTypeHigh_Undefined        -0.2115      0.146     -1.447      0.148      -0.498       0.075
SchoolSizeIndicator_L                -0.2426      0.326     -0.744      0.457      -0.881       0.396
SchoolSizeIndicator_M-L              -0.1554      0.324     -0.479      0.632      -0.791       0.480
SchoolSizeIndicator_S                 0.0926      0.332      0.279      0.781      -0.559       0.744
SchoolSizeIndicator_S-M              -0.1606      0.322     -0.499      0.618      -0.791       0.470
fpp_small                             0.5124      0.132      3.876      0.000       0.253       0.771
fpp_critical                          0.0603      0.101      0.598      0.550      -0.137       0.258
fpp_safe                             -0.1103      0.095     -1.160      0.246      -0.297       0.076
fpp_large                            -0.1288      0.102     -1.267      0.205      -0.328       0.070
trend_0                               0.1652      0.119      1.388      0.165      -0.068       0.398
trend_1                               0.1683      0.132      1.277      0.202      -0.090       0.427
=====================================================================================================